<h3><%= @band.name %></h3>

<% if(@attached_venues.any?) %>
  <h5>Venues this band has played at:</h5>
  <ul>
    <% @attached_venues.each() do |venue| %>
      <li><%= venue.name() %></li>
    <% end %>
  </ul>
<% end %>

<% if(@unattached_venues.any?) %>
  <h5>Venues this band has NOT played at:</h5>
  <form action='/band/<%= @band.id %>/attach_venues' method='post'>
    <input type="hidden" name="_method" value="patch">
      <% @unattached_venues.each() do |venue| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="<%= venue.id() %>" name="venue_ids[]" value="<%= venue.id() %>"><%= venue.name() %>
        </label>
      </div>
      <% end %>
      <button class='btn btn-success' id="attach_venues">Add Selected Venues</button>
  </form>
  <br>
<% end %>

<form action="/band/<%=@band.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="new_band_name">Update band name:</label>
    <input type="text" name="new_band_name" id="new_band_name" class="form-control">
  </div>
  <button id="update_band_name" class="btn btn-primary">Update Name</button>
</form>

<br>

<form action="/band/<%=@band.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button id="delete_band" class="btn btn-danger">Delete Band</button>
</form>

<br>

<a href="/bands">Back</a>
